<form>
    <div class="form-group row">
        <label for="organization" class="col-md-5">Назва організації:</label>
        <select #organization class="form-control col-md-7" (change)="onSelectChange($event);" [(ngModel)]="templateData.organization"
            id="organization" name="organization">
            <option value='КЗ "Черкаська обласна лікарня ЧОР; відділення УЗД. м. Черкаси, вул. Менделеєва, 3"'>ЧОЛ</option>
            <option value='"Андромеда" медицинський центр ліц. МОЗ України АГ №600391 від 07.06.2012 року. м. Черкаси, бул. Шевченка, 177; тел./факс: +380(0472)45-32-44'>АНД</option>
            <option value='"Докторпро+". м. Черкаси, вул. Чехова, 43'>ДП</option>
        </select>
    </div>
    <hr />

    <h2 class="text-center">Протокол</h2>
    <h4 class="text-center">УЗ трансвагінальне обстеження органів малого тазу.</h4>

    <hr />

    <div class="row">
        <div class="form-group row col-md-6">
            <label for="fullName" class="col-md-5">Пацієнт:</label>
            <input class="form-control col-md-7" id="fullName" [(ngModel)]="templateData.fullName" name="fullName">
        </div>

        <div class="form-group row col-md-6">
            <label for="birthday" class="col-md-5">Рік народження:</label>
            <input class="form-control col-md-7" id="birthday" [(ngModel)]="templateData.birthday" name="birthday">
        </div>

        <div class="form-group row col-md-6">
            <label for="departament" class="col-md-5">Відділення:</label>
            <input class="form-control col-md-7" id="departament" [(ngModel)]="templateData.departament" name="departament">
        </div>

        <div class="form-group row col-md-6">
            <label class="col-md-12">Лікар Роскопіна Наталія Анатоліївна</label>
        </div>

        <div class="form-group row col-md-6">
            <label for="number" class="col-md-5">T.N:</label>
            <input class="form-control col-md-7" id="number" [(ngModel)]="templateData.number" name="number">
        </div>

        <div class="form-group row col-md-6">
            <label class="col-md-12">Апарат УЗД PHILIPS</label>
        </div>
    </div>

    <div class="row">
        <div class="form-group row col-md-5">
            <label for="lastMenstruation" class="col-md-7">Остання менструація:</label>
            <input class="form-control col-md-5" id="lastMenstruation" [(ngModel)]="templateData.lastMenstruation" name="lastMenstruation">
        </div>

        <div class="form-group row col-md-4">
            <label for="phase" class="col-md-6">Фаза циклу:</label>
            <input class="form-control col-md-6" id="phase" [(ngModel)]="templateData.phase" name="phase">
        </div>

        <div class="form-group row col-md-3">
            <label for="pause" class="col-md-8">Менопауза:</label>
            <input class="form-control col-md-4" id="pause" [(ngModel)]="templateData.pause" name="pause">
        </div>
    </div>

    <hr />

    <h5>Матка</h5>

    <div class="form-group row">
        <label for="placement" class="col-md-5">Розташування:</label>
        <select class="form-control col-md-7" (change)="onSelectChange($event);" [(ngModel)]="templateData.placement"
            id="placement" name="placement">
            <option value='Розташована в antefeexio.'>N</option>
            <option value='Відхилена праворуч.'>прав.</option>
            <option value='Відхилена ліворуч.'>лів.</option>
            <option value='Відхилена дозаду.'>дозаду</option>
        </select>
    </div>

    <div class="form-group row">
        <label for="form" class="col-md-5">Форма:</label>
        <select class="form-control col-md-7" (change)="onSelectChange($event);" [(ngModel)]="templateData.form" id="form"
            name="form">
            <option value='Овоїдної форми'>N</option>
            <option value='Шаровидної форми'>шар</option>
            <option value='Сідловидної форми'>сідло</option>
            <option value='Дворога'>2-рог</option>
        </select>
    </div>

    <hr />

    <h5>Тіло матки</h5>

    <div class="row">
        <div class="form-group row col-md-3">
            <label for="uterusLength" class="col-md-6">Довжина:</label>
            <input id="uterusLength" class="form-control col-md-4" [(ngModel)]="templateData.uterusLength" name="uterusLength">
        </div>

        <div class="form-group row col-md-6">
            <label for="uterusSize" class="col-md-7"> Передньо-задній розмір:</label>
            <input id="uterusSize" class="form-control col-md-2" [(ngModel)]="templateData.uterusSize" name="uterusSize">
        </div>

        <div class="form-group row col-md-3">
            <label for="uterusWidth" class="col-md-6">Ширина:</label>
            <input id="uterusWidth" class="form-control col-md-4" [(ngModel)]="templateData.uterusWidth" name="uterusWidth">
        </div>
    </div>

    <div class="row">
        <div class="form-group row col-md-5">
            <label for="miometrii" class="col-md-5">Міометрій:</label>
            <select class="form-control col-md-7" (change)="onSelectChange($event);" [(ngModel)]="templateData.miometrii"
                id="miometrii" name="miometrii" #miometrii>
                <option value='Ехоструктура не змінена, однорідна'>N</option>
                <option value='По передній стінці візуалізується інтрамурально вузел {miometriiMin} мм'>інтер-пер.</option>
                <option value='По задній стінці візуалізується інтрамурально вузел {miometriiMin} мм'>інтер-зад.</option>
                <option value='В ділянці дна візуалізується інтрамурально вузел {miometriiMin} мм'>інтер-дно</option>
                <option value='По обом стінкам візуалізуються інтрамуральні множинні вузли d від {miometriiMin} мм до {miometriiMax} мм'>інтер-множ.</option>
                <option value='Субсерозно по передній стінці візуалізується вузел {miometriiMin} мм'>субсер-пер.</option>
                <option value='Субсерозно по задній стінці візуалізується вузел {miometriiMin} мм'>субсер-зад.</option>
                <option value='Субмукозно візуалізується вузел {miometriiMin} мм'>субмук.</option>
                <option value='Візуалізуються гіпо-, гіперділянки d до 2-6 мм типом аденоміозу'>аденоміоз</option>
                <option value='Ехоструктура міометрія неоднорідна, з дифузними змінами у вигляді дрібних гіпохогенних включень, розташованих до другого шару міометрія з потовщенням {miometriiSelect}'>ендо-оз.</option>
                <option value='Візуалізуються розширені судини d до {miometriiMin} мм'>ендо-іт.</option>
            </select>
        </div>

        <div *ngIf="selectedItems.miometrii >= 1 && selectedItems.miometrii <= 3 || 
            selectedItems.miometrii > 4 && selectedItems.miometrii <= 7 ||
            selectedItems.miometrii == 10"
            class="form-group row col-md-7">
            <label *ngIf="selectedItems.miometrii == 1" class="col-md-9">По передній стінці візуалізується
                інтрамурально вузел </label>
            <label *ngIf="selectedItems.miometrii == 2" class="col-md-9">По задній стінці візуалізується інтрамурально
                вузел </label>
            <label *ngIf="selectedItems.miometrii == 3" class="col-md-9">В ділянці дна візуалізується інтрамурально
                вузел </label>
            <label *ngIf="selectedItems.miometrii == 5" class="col-md-9">Субсерозно по передній стінці візуалізується
                вузел </label>
            <label *ngIf="selectedItems.miometrii == 6" class="col-md-9">Субсерозно по задній стінці візуалізується
                вузел </label>
            <label *ngIf="selectedItems.miometrii == 7" class="col-md-9">Субмукозно візуалізується вузел </label>
            <label *ngIf="selectedItems.miometrii == 10" class="col-md-9">Візуалізуються розширені судини d до </label>
            <input class="form-control col-md-2" [(ngModel)]="templateData.miometriiMin" name="miometriiMin">
            <label class="col-md-1">мм</label>
        </div>

        <div *ngIf="selectedItems.miometrii == 4" class="form-group row col-md-7">
            <label class="col-md-12">По обом стінкам візуалізуються інтрамуральні множинні вузли d</label>
            <label class="col-md-1 md-offset-6">від </label>
            <input class="form-control col-md-2" [(ngModel)]="templateData.miometriiMin" name="miometriiMin">
            <label class="col-md-1">мм</label>
            <label class="col-md-1 md-offset-6">до </label>
            <input class="form-control col-md-2" [(ngModel)]="templateData.miometriiMax" name="miometriiMax">
            <label class="col-md-1">мм</label>
        </div>

        <div *ngIf="selectedItems.miometrii == 9" class="form-group row col-md-7">
            <label class="col-md-10">Ехоструктура міометрія неоднорідна, з дифузними змінами у вигляді дрібних
                гіпохогенних включень, розташованих до другого шару міометрія з потовщенням</label>
            <select class="form-control col-md-2" [(ngModel)]="templateData.miometriiSelect" name="miometriiSelect">
                <option value='передньої стінки матки'>1</option>
                <option value='задньої стінки матки'>2</option>
                <option value='передньої та задньої стінок матки'>3</option>
            </select>
        </div>
    </div>

    <hr />

    <h5>Ендометрій</h5>

    <div class="form-group row">
        <label for="endometriiThickness" class="col-md-2">Товщина:</label>
        <input id="endometriiThickness" class="form-control col-md-1" [(ngModel)]="templateData.endometriiThickness"
            name="endometriiThickness">
    </div>

    <div class="row">
        <div class="form-group row col-md-4">
            <label for="endometrii" class="col-md-5">Ендометрій:</label>
            <select class="form-control col-md-7" (change)="onSelectChange($event);" [(ngModel)]="templateData.endometrii"
                id="endometrii" name="endometrii">
                <option value='Відповідає фазі менструального циклу, однорідний'>N</option>
                <option value='Потовщений, з гіпо-, гіперділянками за типом заложистої гіперплазії'>гіпер</option>
                <option value='Гіпоглазірований'>гіпо</option>
                <option value='Не простежується'>-</option>
                <option value='Лоцируються гіпоехогенні поліпозні структури розміром {endometrii4}'>поліпи-гіпо</option>
                <option value='Лоцируються гіперехогенні поліпозні структури розміром {endometrii4}'>поліпи-гіпер</option>
            </select>
        </div>
        <div *ngIf="selectedItems.endometrii == 4 || selectedItems.endometrii == 5" class="row col-md-8">
            <label *ngIf="selectedItems.endometrii == 4" for="endometrii1" class="col-md-6">Лоцируються гіпоехогенні
                поліпозні структури розміром</label>
            <label *ngIf="selectedItems.endometrii == 5" for="endometrii1" class="col-md-6">Лоцируються гіперехогенні
                поліпозні структури розміром</label>
            <select class="form-control col-md-1" (change)="onSelectChange($event);" [(ngModel)]="templateData.endometrii4"
                name="endometrii4" id="endometrii4">
                <option value="{endometrii1} мм.">1</option>
                <option value="{endometrii1} мм; {endometrii2} мм.">2</option>
                <option value="{endometrii1} мм; {endometrii2} мм; {endometrii3} мм.">3</option>
            </select>
            <div class="col-md-3 offset-md-1">
                <div *ngIf="selectedItems.endometrii4 >= 0" class="form-group row col-md-12">
                    <input id="endometrii1" class="form-control col-md-6" [(ngModel)]="templateData.endometrii1" name="endometrii1">
                    <label class="col-md-6">мм;</label>
                </div>
                <div *ngIf="selectedItems.endometrii4 >= 1" class="form-group row col-md-12">
                    <input class="form-control col-md-6" [(ngModel)]="templateData.endometrii2" name="endometrii2">
                    <label class="col-md-6">мм;</label>
                </div>
                <div *ngIf="selectedItems.endometrii4 >= 2" class="form-group row col-md-12">
                    <input class="form-control col-md-6" [(ngModel)]="templateData.endometrii3" name="endometrii3">
                    <label class="col-md-6">мм;</label>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <h5>Порожнина матки</h5>

    <div class="row">
        <div class="form-group row col-md-4">
            <label for="uterusCavity" class="col-md-6">Порожнина:</label>
            <select class="form-control col-md-6" (change)="onSelectChange($event);" [(ngModel)]="templateData.uterusCavity"
                id="uterusCavity" name="uterusCavity">
                <option value='Не розширена, не деформована'>N</option>
                <option value='Розширена до {uterusCavity1} мм, не містить рідину'>розшир "-"</option>
                <option value='Розширена до {uterusCavity1} мм, містить рідину'>розшир "+"</option>
                <option value='Деформована за рахунок субмукозного вузла'>субмук. вузол</option>
                <option value='З нерівним, бугристим, фастончатим контуром'>Cr</option>
                <option value='Містить ВМС, що займає всю порожнину'>BMCN</option>
                <option value='Містить ВМС, що недоходить до дна матки на {uterusCavity1} мм'>BMC ±</option>
                <option value='Розширена до {uterusCavity1} мм, вміст порожнини гідрофільний з лінійними гіперехогенними включеннями'>гематометра</option>
                <option value='Розширена до {uterusCavity1} мм, вміст порожнини гідрофільний з лінійними гіперехогенними включеннями та щільними гіперструктурами'>гемато
                    + лохіо</option>
                <option value='Містить плідне яйце d1 {uterusCavity2} мм, d2 {uterusCavity3} мм, d3 {uterusCavity4} мм'>яйце</option>
                <option value='В порожнині матки визначається плідне яйце d {uterusCavity5} мм, не деформоване, форма не змінена, візуалізується плід КТР {uterusCavity6} мм, серцебиття визначається, рух визначається; хоріон розташован по {uterusCavity7}'>пл
                    1 +</option>
                <option value='В порожнині матки визначається плідне яйце d {uterusCavity5} мм, деформоване, форма змінена, візуалізується плід КТР {uterusCavity6} мм, серцебиття не визначається, рух не визначається; хоріон розташован по {uterusCavity7}'>пл
                    1 -</option>
                <option value='В порожнині матки визначається друге плідне яйце'>пл 2 різно</option>
                <option value='В порожнині матки визначається плідне яйце'>пл 2-3 одно</option>
            </select>
        </div>
        <div *ngIf="selectedItems.uterusCavity == 1" class="form-group row col-md-8">
            <label for="uterusCavity1" class="col-md-3">Розширена до </label>
            <input id="uterusCavity1" class="form-control col-md-2" [(ngModel)]="templateData.uterusCavity1" name="uterusCavity1">
            <label for="uterusCavity1" class="col-md-6">мм, не містить рідину</label>
        </div>
        <div *ngIf="selectedItems.uterusCavity == 2" class="form-group row col-md-8">
            <label for="uterusCavity1" class="col-md-3">Розширена до </label>
            <input id="uterusCavity1" class="form-control col-md-2" [(ngModel)]="templateData.uterusCavity1" name="uterusCavity1">
            <label for="uterusCavity1" class="col-md-6">мм, містить рідину</label>
        </div>
        <div *ngIf="selectedItems.uterusCavity == 6" class="form-group row col-md-8">
            <label for="uterusCavity1" class="col-md-8 offset-md-1">Містить ВМС, що недоходить до дна матки на</label>
            <input id="uterusCavity1" class="form-control col-md-2" [(ngModel)]="templateData.uterusCavity1" name="uterusCavity1">
            <label for="uterusCavity1" class="col-md-1">мм</label>
        </div>
        <div *ngIf="selectedItems.uterusCavity == 7" class="form-group row col-md-8">
            <label for="uterusCavity1" class="col-md-3">Розширена до </label>
            <input id="uterusCavity1" class="form-control col-md-2" [(ngModel)]="templateData.uterusCavity1" name="uterusCavity1">
            <label for="uterusCavity1" class="col-md-7">мм, вміст порожнини гідрофільний з лінійними гіперехогенними
                включеннями</label>
        </div>
        <div *ngIf="selectedItems.uterusCavity == 8" class="form-group row col-md-8">
            <label for="uterusCavity1" class="col-md-3">Розширена до </label>
            <input id="uterusCavity1" class="form-control col-md-2" [(ngModel)]="templateData.uterusCavity1" name="uterusCavity1">
            <label for="uterusCavity1" class="col-md-7">мм, вміст порожнини гідрофільний з лінійними гіперехогенними
                включеннями та щільними гіперструктурами</label>
        </div>
        <div *ngIf="selectedItems.uterusCavity == 9" class="form-group row col-md-8">
            <label for="uterusCavity2" class="col-md-4">Містить плідне яйце d1</label>
            <input id="uterusCavity2" class="form-control col-md-1" [(ngModel)]="templateData.uterusCavity2" name="uterusCavity2">
            <label for="uterusCavity3" class="col-md-2">мм, d2</label>
            <input id="uterusCavity3" class="form-control col-md-1" [(ngModel)]="templateData.uterusCavity3" name="uterusCavity3">
            <label for="uterusCavity3" class="col-md-2">мм, d3</label>
            <input id="uterusCavity4" class="form-control col-md-1" [(ngModel)]="templateData.uterusCavity4" name="uterusCavity4">
            <label for="uterusCavity4" class="col-md-1">мм</label>
        </div>
        <div *ngIf="selectedItems.uterusCavity == 10" class="row col-md-8">
            <div class="form-group row col-md-12">
                <label for="uterusCavity5" class="col-md-9">В порожнині матки визначається плідне яйце d </label>
                <input id="uterusCavity5" class="form-control col-md-2" [(ngModel)]="templateData.uterusCavity5" name="uterusCavity5">
                <label class="col-md-1">мм,</label>
            </div>
            <div class="form-group row col-md-12">
                <label for="uterusCavity6" class="col-md-9">не деформоване, форма не змінена, візуалізується плід КТР</label>
                <input id="uterusCavity6" class="form-control col-md-2" [(ngModel)]="templateData.uterusCavity6" name="uterusCavity6">
                <label class="col-md-1">мм,</label>
            </div>
            <div class="form-group row col-md-12">
                <label for="uterusCavity7" class="col-md-10">серцебиття визначається, рух визначається; хоріон
                    розташован по
                </label>
                <select class="form-control col-md-2" (change)="onSelectChange($event);" [(ngModel)]="templateData.uterusCavity7"
                    id="uterusCavity7" name="uterusCavity7">
                    <option value='передній стінці'>1</option>
                    <option value='задній стінці'>2</option>
                </select>
            </div>
        </div>
        <div *ngIf="selectedItems.uterusCavity == 11" class="row col-md-8">
            <div class="form-group row col-md-12">
                <label for="uterusCavity5" class="col-md-9">В порожнині матки визначається плідне яйце d </label>
                <input id="uterusCavity5" class="form-control col-md-2" [(ngModel)]="templateData.uterusCavity5" name="uterusCavity5">
                <label class="col-md-1">мм,</label>
            </div>
            <div class="form-group row col-md-12">
                <label for="uterusCavity6" class="col-md-9">деформоване, форма змінена, візуалізується плід КТР</label>
                <input id="uterusCavity6" class="form-control col-md-2" [(ngModel)]="templateData.uterusCavity6" name="uterusCavity6">
                <label class="col-md-1">мм,</label>
            </div>
            <div class="form-group row col-md-12">
                <label for="uterusCavity7" class="col-md-10">серцебиття не визначається, рух не визначається; хоріон
                    розташован по
                </label>
                <select class="form-control col-md-2" (change)="onSelectChange($event);" [(ngModel)]="templateData.uterusCavity7"
                    id="uterusCavity7" name="uterusCavity7">
                    <option value='передній стінці'>1</option>
                    <option value='задній стінці'>2</option>
                </select>
            </div>
        </div>
    </div>

    <hr />

    <h5>Шийка матки</h5>

    <div class="row">
        <div class="form-group row col-md-4">
            <label for="cervix" class="col-md-5">Шийка:</label>
            <select class="form-control col-md-7" (change)="onSelectChange($event);" [(ngModel)]="templateData.cervix"
                id="cervix" name="cervix">
                <option value='Ехоструктура не змінена, однорідна'>N</option>
                <option value='Ехоструктура змінена, не однорідна, з поодинокими ендометріоїдними гетеротопіями d до {cervix1} мм'>едно-оз
                    ±</option>
                <option value='Ехоструктура змінена, не однорідна за рахунок множинних еднометріоїдних гетеротопій d до {cervix1} мм'>едно-оз
                    +</option>
                <option value='Ехоструктура змінена, не однорідна за рахунок поодиноких анехогенних округлої форми утворень локалізованих в стінці шийки матки d до {cervix1} мм'>ретенц.
                    к-т ±</option>
                <option value='Ехоструктура змінена за рахунок множинних анехогенних утворень локалізованих в стінці шийки матки d до {cervix1} мм'>ретенц.
                    к-ти +</option>
                <option value='Ехоструктура змінена за рахунок анехогенних утворень локалізованих по ходу цервикального каналу d {cervix2} мм, а також візуалізується ДО р. {cervix3} мм змішаної ехогенності та ехоструктури, з нерівним контуром, з зонами неоваскуляризації'>ДО</option>
                <option value='Візуалізуються анехогенні включення поблизу зовнішнього зіву шийки матки d до {cervix1} мм'>N</option>
            </select>
        </div>
        <div *ngIf="selectedItems.cervix >= 1 && selectedItems.cervix <=4 || selectedItems.cervix==6" class="form-group row col-md-8">
            <label *ngIf="selectedItems.cervix == 1" for="cervix1" class="col-md-9">Ехоструктура змінена, не однорідна,
                з поодинокими ендометріоїдними гетеротопіями d до</label>
            <label *ngIf="selectedItems.cervix == 2" for="cervix1" class="col-md-9">Ехоструктура змінена, не однорідна
                за рахунок множинних еднометріоїдних гетеротопій d до</label>
            <label *ngIf="selectedItems.cervix == 3" for="cervix1" class="col-md-9">Ехоструктура змінена, не однорідна
                за рахунок поодиноких анехогенних округлої форми утворень локалізованих в стінці шийки матки d до</label>
            <label *ngIf="selectedItems.cervix == 4" for="cervix1" class="col-md-9">Ехоструктура змінена за рахунок
                множинних анехогенних утворень локалізованих в стінці шийки матки d до</label>
            <label *ngIf="selectedItems.cervix == 6" for="cervix1" class="col-md-9">Візуалізуються анехогенні включення
                поблизу зовнішнього зіву шийки матки d до</label>
            <input class="form-control col-md-2" id="cervix1" [(ngModel)]="templateData.cervix1" name="cervix1">
            <label for="cervix1" class="col-md-1">мм</label>
        </div>
        <div *ngIf="selectedItems.cervix == 5" class="row col-md-8">
            <div class="form-group row col-md-12">
                <label for="cervix2" class="col-md-9">Ехоструктура змінена за рахунок анехогенних утворень
                    локалізованих по ходу цервикального каналу d</label>
                <input class="form-control col-md-2" id="cervix2" [(ngModel)]="templateData.cervix2" name="cervix2">
                <label for="cervix2" class="col-md-1">мм,</label>
            </div>
            <div class="form-group row col-md-12">
                <label for="cervix3" class="col-md-5">а також візуалізується ДО р.</label>
                <input class="form-control col-md-2" id="cervix3" [(ngModel)]="templateData.cervix3" name="cervix3">
                <label for="cervix3" class="col-md-1">мм</label>
                <label for="cervix3" class="col-md-4">змішаної ехогенності та ехоструктури, з нерівним контуром, з
                    зонами неоваскуляризації</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group row col-md-6">
            <label for="cervixLength" class="col-md-5">Довжина:</label>
            <input class="form-control col-md-7" id="cervixLength" [(ngModel)]="templateData.cervixLength" name="cervixLength">
        </div>

        <div class="form-group row col-md-6">
            <label for="cervixWidth" class="col-md-5">Ширина:</label>
            <input class="form-control col-md-7" id="cervixWidth" [(ngModel)]="templateData.cervixWidth" name="cervixWidth">
        </div>
    </div>

    <div class="row">
        <div class="form-group row col-md-5">
            <label for="cervicalCanal" class="col-md-7">Цервикальний канал:</label>
            <select class="form-control col-md-5" (change)="onSelectChange($event);" [(ngModel)]="templateData.cervicalCanal"
                id="cervicalCanal" name="cervicalCanal">
                <option value='Не розширений'>N</option>
                <option value='Розширений до {cervicalCanal1} мм'>розшир.</option>
                <option value='Розширений до {cervicalCanal1} мм, в просвіті рідина'>розшир. + рід.</option>
                <option value='Розширений до {cervicalCanal1} мм, з нерівним контуром'>Сr</option>
                <option value='Візуалізується гіпоехогенне овальної форми поліпозне утворення, яке розширює цервікальний канал розм. {cervicalCanal2} мм, розташоване в {cervicalCanal3}'>поліпи-гіпо</option>
                <option value='Візуалізується гіперехогенне овальної форми поліпозне утворення, яке розширює цервікальний канал розм. {cervicalCanal2} мм, розташоване в {cervicalCanal3}'>поліпи-гіпер</option>
            </select>
        </div>
        <div *ngIf="selectedItems.cervicalCanal == 1" class="form-group row col-md-7">
            <label for="cervicalCanal1" class="col-md-4">Розширений до</label>
            <input class="form-control col-md-2" id="cervicalCanal1" [(ngModel)]="templateData.cervicalCanal1" name="cervicalCanal1">
            <label for="cervicalCanal1" class="col-md-5">мм</label>
        </div>
        <div *ngIf="selectedItems.cervicalCanal == 2" class="form-group row col-md-7">
            <label for="cervicalCanal1" class="col-md-4">Розширений до</label>
            <input class="form-control col-md-2" id="cervicalCanal1" [(ngModel)]="templateData.cervicalCanal1" name="cervicalCanal1">
            <label for="cervicalCanal1" class="col-md-5">мм, в просвіті рідина</label>
        </div>
        <div *ngIf="selectedItems.cervicalCanal == 3" class="form-group row col-md-7">
            <label for="cervicalCanal1" class="col-md-4">Розширений до</label>
            <input class="form-control col-md-2" id="cervicalCanal1" [(ngModel)]="templateData.cervicalCanal1" name="cervicalCanal1">
            <label for="cervicalCanal1" class="col-md-5">мм, з нерівним контуром</label>
        </div>
        <div *ngIf="selectedItems.cervicalCanal == 4" class="row col-md-7">
            <div class="row form-group col-md-12">
                <label for="cervicalCanal2" class="col-md-9">Візуалізується гіпоехогенне овальної форми поліпозне
                    утворення, яке розширює цервікальний канал розм.</label>
                <input class="form-control col-md-2" id="cervicalCanal2" [(ngModel)]="templateData.cervicalCanal2" name="cervicalCanal2">
                <label for="cervicalCanal2" class="col-md-1">мм,</label>
            </div>
            <div class="row form-group col-md-12">
                <label for="cervicalCanal3" class="col-md-5">розташоване в</label>
                <select class="form-control col-md-2" [(ngModel)]="templateData.cervicalCanal3" id="cervicalCanal3"
                    name="cervicalCanal3">
                    <option value='верхній треті цервікального каналу'>1</option>
                    <option value='середній треті цервікального каналу'>2</option>
                    <option value='нижній треті цервікального каналу'>3</option>
                    <option value='по всьому ходу цервікального каналу'>4</option>
                </select>
            </div>
        </div>
        <div *ngIf="selectedItems.cervicalCanal == 5" class="row col-md-7">
            <div class="row form-group col-md-12">
                <label for="cervicalCanal2" class="col-md-9">Візуалізується гіперехогенне овальної форми поліпозне
                    утворення, яке розширює цервікальний канал розм.</label>
                <input class="form-control col-md-2" id="cervicalCanal2" [(ngModel)]="templateData.cervicalCanal2" name="cervicalCanal2">
                <label for="cervicalCanal2" class="col-md-1">мм,</label>
            </div>
            <div class="row form-group col-md-12">
                <label for="cervicalCanal3" class="col-md-5">розташоване в</label>
                <select class="form-control col-md-2" [(ngModel)]="templateData.cervicalCanal3" id="cervicalCanal3"
                    name="cervicalCanal3">
                    <option value='верхній треті цервікального каналу'>1</option>
                    <option value='середній треті цервікального каналу'>2</option>
                    <option value='нижній треті цервікального каналу'>3</option>
                    <option value='по всьому ходу цервікального каналу'>4</option>
                </select>
            </div>
        </div>
    </div>

    <hr />

    <h5>Правий яєчник</h5>

    <div class="form-group row">
        <label for="right" class="col-md-5">Яєчник:</label>
        <select class="form-control col-md-7" (change)="onSelectChange($event);" [(ngModel)]="templateData.right" id="right"
            name="right">
            <option value='Візуалізація задовільна, розташований за маткою, типово'>+</option>
            <option value='Візуалізація задовільна, розташований не типово'>+-</option>
            <option value='Не візуалізується'>-</option>
        </select>
    </div>

    <div class="row">
        <div class="form-group row col-md-4">
            <label for="rightLength" class="col-md-5">Довжина:</label>
            <input class="form-control col-md-5" id="rightLength" [(ngModel)]="templateData.rightLength" name="rightLength">
        </div>

        <div class="form-group row col-md-4">
            <label for="rightThickness" class="col-md-5">Товщина:</label>
            <input class="form-control col-md-5" id="rightThickness" [(ngModel)]="templateData.rightThickness" name="rightThickness">
        </div>

        <div class="form-group row col-md-4">
            <label for="rightWidth" class="col-md-5">Ширина:</label>
            <input class="form-control col-md-5" id="rightWidth" [(ngModel)]="templateData.rightWidth" name="rightWidth">
        </div>
    </div>

    <div class="row">
        <div class="form-group row col-md-6">
            <label for="rightStructure" class="col-md-6">Структура яєчника:</label>
            <select class="form-control col-md-4" (change)="onSelectChange($event);" [(ngModel)]="templateData.rightStructure"
                id="rightStructure" name="rightStructure">
                <option value='Капсула не потовщена, ехогенність та ехоструктура не змінені'>N</option>
                <option value='Капсула не потовщена, ехогенність незначно знижена, ехоструктура неоднорідна'>гіпо+-</option>
                <option value='Капсула не потовщена, ехогенність знижена, ехоструктура неоднорідна'>гіпо +</option>
                <option value='Капсула не потовщена, помірно гіпоехогенний з множинними ехонегативними включеннями'>мультифол.</option>
                <option value='Капсула не потовщена, помірно гіпоехогенний, з дрібними округлими структурами по контурі'>полікист.</option>
                <option value='Візуалізується щільна капсула, підкапсульно з округлими гідрофільними структурами'>склерокіст.</option>
                <option value='Неоднорідний, в області яєчника візуалізується утворення з рівним контуром, з наявністю капсули, анехогенне, однорідне (фолікулярна кіста)'>фол.
                    к-та</option>
                <option value='Неоднорідний, в області яєчника лоцирується утворення з щільною товстою капсулою, з інтенсивним кровопливом по перефірії, анехогенне з гіпервключеннями (кіста жовтого тіла)'>ж.т.к-та</option>
                <option value='Лоцирується утворення розм. мм інкапсуловане, анехогенне, неоднорідне (муцинозна кіста)'>муц.
                    к-та</option>
                <option value='Позаду від матки візуалізується утворення розм. мм інкапсуловане, з змішаною внутрішньою будовою, на кольоровій ехограмі внутрішній вміст еваскулярний, по перефірії виявляються поодинокі ділянки васкулярізації'>едно.
                    к-та</option>
                <option value='В області проекції яєчника візуалізується багатокамерне тонкостінне утворення'>текалют.
                    к-та
                    (в обох яєчн.)</option>
                <option value='В області проекції яєчника візуалізується округлої форми утворення розм. мм, гіпоехогенне з солітарними гіперехогенними включеннями, при кольоровій доплерографії васкуляризація відсутня'>дерм.
                    к-та</option>
                <option value='В області проекції яєчника візуалізується округлої форми з рідиною, однокамерне, тонкостінне утворення, з досить чіткими внутрішніми контурами, з однорідною, практично ехонегативною внутрішньою будовою, при доплерографії в стінках виявляються поодтнокі ділянки васкуляризації'>гладкостін.
                    цист-аден (до 15 см)</option>
                <option value='В області проекції яєчника візуалізується округлої форми утворення з рідиною мм, багатокамерне з пристінковими структурами різних розмірів повищенної ехогенності, з поодинокими перегородками у вигляді тонких ехогенних лінійних структур, в розростаннях та перегородках визначаються зони неоваскуляризації'>папіл.унстад</option>
                <option value='В області яєчника візуалізується утворення розм. мм з чіткими не рівними контурами, некапсуловане, неоднорідне'>адн.
                    тумор.</option>
                <option value='В області яєчника візуалізується утворення розм. мм з чіткими,не рівними контурами, некапсуловане, з гіпо-, гіперділянками, при кольоровій доплерографії з зонами неоваскуляризації'>Сr</option>
                <option value='Фолікулярний апарат достатньо виражений '>фол. ап +</option>
                <option value='Фолікулярний апарат збіднілий'>фол. ап. +-</option>
                <option value='Фолікулярний апарат достатньо виражений, візуалізується домінантний фолікул мм (відповідає дню менструального циклу по розмірам та структурі'>фол.ап.+;
                    дом.фол.+</option>
                <option value='Фолікулярний апарат представлений анехогенними включеннями d до 4-7 мм (до 8 в полі зору), візуалізується домінантний фолікул мм (не відповідає дню менструального циклу по розмірам та структурі), жовте тіло не візуалізується'>фол.ап.+;дом.фол.+-</option>
                <option value='Фолікулярний апарат представлений анехогенними включеннями d до 4-7 мм (до 6 в полі зору), домінантний фолікул не візуалізується, жовте тіло не візуалізується'>фол.ап.+;
                    дом.фол.-</option>
                <option value='Фолікулярний апарат не виражений, представлений анехогенними включеннями d 3-6 мм (до 4-5 в полі зору), домінантний фолікул візуалізується мм (відповідає дню менструального циклу по розмірам та структурі)'>фол.ап.+-;
                    дом.фол.+</option>
            </select>
        </div>

        <div class="form-group row row col-md-6">
            <label for="rightTube" class="col-md-6">Права маточна труба:</label>
            <select class="form-control col-md-4" (change)="onSelectChange($event);" [(ngModel)]="templateData.rightTube"
                id="rightTube" name="rightTube">
                <option value='Не візуалізується'>-</option>
                <option value='В проекції візуалізується анехогенне з чітким контуром утворення розм. мм (гідросальпингс)'>гідро</option>
                <option value='В проекції візуалізується анехогенне з чітким контуром, з гіпервключенням утворення розм. мм (піосальпингс)'>піо</option>
                <option value='В просвіті труби візуалізується плідне яйце мм'>яйце</option>
            </select>
        </div>
    </div>

    <hr />

    <h5>Лівий яєчник</h5>

    <div class="form-group row">
        <label for="left" class="col-md-5">Яєчник:</label>
        <select class="form-control col-md-7" (change)="onSelectChange($event);" [(ngModel)]="templateData.left" id="left"
            name="left">
            <option value='Візуалізація задовільна, розташований за маткою, типово'>+</option>
            <option value='Візуалізація задовільна, розташований не типово'>+-</option>
            <option value='Не візуалізується'>-</option>
        </select>
    </div>

    <div class="row">
        <div class="form-group row col-md-4">
            <label for="leftLength" class="col-md-5">Довжина:</label>
            <input class="form-control col-md-5" id="leftLength" [(ngModel)]="templateData.leftLength" name="leftLength">
        </div>

        <div class="form-group row col-md-4">
            <label for="rightThickness" class="col-md-5">Товщина:</label>
            <input class="form-control col-md-5" id="leftThickness" [(ngModel)]="templateData.leftThickness" name="leftThickness">
        </div>

        <div class="form-group row col-md-4">
            <label for="leftWidth" class="col-md-5">Ширина:</label>
            <input class="form-control col-md-5" id="leftWidth" [(ngModel)]="templateData.leftWidth" name="leftWidth">
        </div>
    </div>

    <div class="row">
        <div class="form-group row col-md-6">
            <label for="leftStructure" class="col-md-6">Структура яєчника:</label>
            <select class="form-control col-md-4" (change)="onSelectChange($event);" [(ngModel)]="templateData.leftStructure"
                id="leftStructure" name="leftStructure">
                <option value='Капсула не потовщена, ехогенність та ехоструктура не змінені'>N</option>
                <option value='Капсула не потовщена, ехогенність незначно знижена, ехоструктура неоднорідна'>гіпо+-</option>
                <option value='Капсула не потовщена, ехогенність знижена, ехоструктура неоднорідна'>гіпо +</option>
                <option value='Капсула не потовщена, помірно гіпоехогенний з множинними ехонегативними включеннями'>мультифол.</option>
                <option value='Капсула не потовщена, помірно гіпоехогенний, з дрібними округлими структурами по контурі'>полікист.</option>
                <option value='Візуалізується щільна капсула, підкапсульно з округлими гідрофільними структурами'>склерокіст.</option>
                <option value='Неоднорідний, в області яєчника візуалізується утворення з рівним контуром, з наявністю капсули, анехогенне, однорідне (фолікулярна кіста)'>фол.
                    к-та</option>
                <option value='Неоднорідний, в області яєчника лоцирується утворення з щільною товстою капсулою, з інтенсивним кровопливом по перефірії, анехогенне з гіпервключеннями (кіста жовтого тіла)'>ж.т.к-та</option>
                <option value='Лоцирується утворення розм. мм інкапсуловане, анехогенне, неоднорідне (муцинозна кіста)'>муц.
                    к-та</option>
                <option value='Позаду від матки візуалізується утворення розм. мм інкапсуловане, з змішаною внутрішньою будовою, на кольоровій ехограмі внутрішній вміст еваскулярний, по перефірії виявляються поодинокі ділянки васкулярізації'>едно.
                    к-та</option>
                <option value='В області проекції яєчника візуалізується багатокамерне тонкостінне утворення'>текалют.
                    к-та
                    (в обох яєчн.)</option>
                <option value='В області проекції яєчника візуалізується округлої форми утворення розм. мм, гіпоехогенне з солітарними гіперехогенними включеннями, при кольоровій доплерографії васкуляризація відсутня'>дерм.
                    к-та</option>
                <option value='В області проекції яєчника візуалізується округлої форми з рідиною, однокамерне, тонкостінне утворення, з досить чіткими внутрішніми контурами, з однорідною, практично ехонегативною внутрішньою будовою, при доплерографії в стінках виявляються поодтнокі ділянки васкуляризації'>гладкостін.
                    цист-аден (до 15 см)</option>
                <option value='В області проекції яєчника візуалізується округлої форми утворення з рідиною мм, багатокамерне з пристінковими структурами різних розмірів повищенної ехогенності, з поодинокими перегородками у вигляді тонких ехогенних лінійних структур, в розростаннях та перегородках визначаються зони неоваскуляризації'>папіл.унстад</option>
                <option value='В області яєчника візуалізується утворення розм. мм з чіткими не рівними контурами, некапсуловане, неоднорідне'>адн.
                    тумор.</option>
                <option value='В області яєчника візуалізується утворення розм. мм з чіткими,не рівними контурами, некапсуловане, з гіпо-, гіперділянками, при кольоровій доплерографії з зонами неоваскуляризації'>Сr</option>
                <option value='Фолікулярний апарат достатньо виражений '>фол. ап +</option>
                <option value='Фолікулярний апарат збіднілий'>фол. ап. +-</option>
                <option value='Фолікулярний апарат достатньо виражений, візуалізується домінантний фолікул мм (відповідає дню менструального циклу по розмірам та структурі'>фол.ап.+;
                    дом.фол.+</option>
                <option value='Фолікулярний апарат представлений анехогенними включеннями d до 4-7 мм (до 8 в полі зору), візуалізується домінантний фолікул мм (не відповідає дню менструального циклу по розмірам та структурі), жовте тіло не візуалізується'>фол.ап.+;дом.фол.+-</option>
                <option value='Фолікулярний апарат представлений анехогенними включеннями d до 4-7 мм (до 6 в полі зору), домінантний фолікул не візуалізується, жовте тіло не візуалізується'>фол.ап.+;
                    дом.фол.-</option>
                <option value='Фолікулярний апарат не виражений, представлений анехогенними включеннями d 3-6 мм (до 4-5 в полі зору), домінантний фолікул візуалізується мм (відповідає дню менструального циклу по розмірам та структурі)'>фол.ап.+-;
                    дом.фол.+</option>
            </select>
        </div>

        <div class="form-group row col-md-6">
            <label for="leftTube" class="col-md-6">Ліва маточна труба:</label>
            <select class="form-control col-md-4" (change)="onSelectChange($event);" [(ngModel)]="templateData.leftTube"
                id="leftTube" name="leftTube">
                <option value='Не візуалізується'>-</option>
                <option value='В проекції візуалізується анехогенне з чітким контуром утворення розм. мм (гідросальпингс)'>гідро</option>
                <option value='В проекції візуалізується анехогенне з чітким контуром, з гіпервключенням утворення розм. мм (піосальпингс)'>піо</option>
                <option value='В просвіті труби візуалізується плідне яйце мм'>яйце</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group row col-md-5">
            <label for="liquid" class="col-md-9">Рідина в позаматковому просторі:</label>
            <select class="form-control col-md-3" (change)="onSelectChange($event);" [(ngModel)]="templateData.liquid"
                id="liquid" name="liquid">
                <option value='Не виявляється'>-</option>
                <option value='Виявляється, товщина слоя рідини до {liquidLevel} мм'>+</option>
            </select>
        </div>
        <div *ngIf="selectedItems.liquid == 1" class="form-group row col-md-7">
            <label for="liquidLevel" class="col-md-7">Виявляється, товщина слоя рідини до</label>
            <input class="form-control col-md-3" id="liquidLevel" [(ngModel)]="templateData.liquidLevel" name="liquidLevel">
            <label for="liquidLevel" class="col-md-2">мм</label>
        </div>
    </div>

    <div class="row">
        <div class="form-group row col-md-5">
            <label for="formation" class="col-md-9">Патологічні утворення в малому тазу:</label>
            <select class="form-control col-md-3" (change)="onSelectChange($event);" [(ngModel)]="templateData.formation"
                id="formation" name="formation">
                <option value='Не виявлені {formationNotes}'>-</option>
                <option value='Виявлені {formationNotes}'>+</option>
                <option value='Локуються варікозно розширені вени в малому тазі'>вени</option>
            </select>
        </div>
        <div *ngIf="selectedItems.formation == 0" class="form-group row col-md-7">
            <label for="formationNotes" class="col-md-3">не виявлені</label>
            <input class="form-control col-md-9" id="formationNotes" [(ngModel)]="templateData.formationNotes" name="formationNotes">
        </div>
        <div *ngIf="selectedItems.formation == 1" class="form-group row col-md-7">
            <label for="formationNotes" class="col-md-3">виявлені</label>
            <input class="form-control col-md-9" id="formationNotes" [(ngModel)]="templateData.formationNotes" name="formationNotes">
        </div>
    </div>

    <hr />

    <h5>Заключення</h5>

    <h6>На момент огляду УЗ ознаки</h6>
    <div class="row">
        <div class="form-group row col-md-4">
            <label for="body" class="col-md-4 offset-md-1">Тіло:</label>
            <select class="form-control col-md-7" (change)="onSelectChange($event);" [(ngModel)]="templateData.body" id="body"
                name="body">
                <option value='міома матки'>УФМ</option>
                <option value='внутрішнього ендометріоза ІІ ступеня'>ендо.внутр.</option>
                <option value='аденоміоза матки'>аденоміоз</option>
                <option value='захворювання тіла матки'>Сr тіла</option>
                <option value='метроендометріта'>метроендометріт</option>
            </select>
        </div>
        <div class="form-group row col-md-4">
            <label for="cavity" class="col-md-4 offset-md-1">Порожнина:</label>
            <select class="form-control col-md-7" (change)="onSelectChange($event);" [(ngModel)]="templateData.cavity"
                id="cavity" name="cavity">
                <option value='поліпи порожнини матки'>поліпи</option>
                <option value='серометра'>серометра</option>
                <option value='захворювання порожнини матки'>Сr порожн.</option>
                <option value='гематометра'>гематометра</option>
                <option value='гемато та лохіометра'>гемато + лохіо</option>
                <option value='наявність ВМС в порожнині матки'>ВМС +</option>
                <option value='наявність ВМС, яка не займає всю порожнину матки'>ВМС +-</option>
            </select>
        </div>
        <div class="form-group row col-md-4">
            <label for="neck" class="col-md-4 offset-md-1">Шийка:</label>
            <select class="form-control col-md-7" (change)="onSelectChange($event);" [(ngModel)]="templateData.neck" id="neck"
                name="neck">
                <option value='едндометріоза шийки матки'>енд-оз</option>
                <option value='ретенційні кісти шийки матки'>ретенц. к-ти</option>
                <option value='наботові кісти шийки матки'>набот к-ти</option>
                <option value='захворювання шийки матки'>Сr</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group row col-md-4">
            <label for="ovaries" class="col-md-4 offset-md-1">Яєчники:</label>
            <select class="form-control col-md-7" (change)="onSelectChange($event);" [(ngModel)]="templateData.ovaries"
                id="ovaries" name="ovaries">
                <option value='правобічного аднекситу'>о. адн (прав)</option>
                <option value='лівобічного аднекситу'>о. адн (лів)</option>
                <option value='двобічного аднекситу'>о. адн (дво)</option>
                <option value='двобічного хронічного аднекситу'>хр. адн.</option>
                <option value='полікістозу яєчників'>полі.</option>
                <option value='мультифолікулярних яєчників'>мульти</option>
                <option value='склерокістозу яєчників'>склеро.</option>
                <option value='фолікулярної кісти'>фол к-та</option>
                <option value='кісти жовтого тіла'>ж.т. к-та</option>
                <option value='ендометріоїдної кісти'>ендо к-та</option>
                <option value='муцинозної кісти'>муц. к-та</option>
                <option value='дермоїдної кісти'>дерм. к-та</option>
                <option value='текалютеїнової кісти обох яєчників'>тека. к-та (2-х)</option>
                <option value='гладкостінної цистаденоми '>гладко. к-та</option>
                <option value='папілярної цистаденоми'>папіляр. к-та</option>
                <option value='аднекстумора'>аднекс Cr</option>
                <option value='обємне утворення'>ДО яєчн.</option>
            </select>
        </div>
        <div class="form-group row col-md-4">
            <label for="pregnancy" class="col-md-4 offset-md-1">Вагітність:</label>
            <select class="form-control col-md-7" (change)="onSelectChange($event);" [(ngModel)]="templateData.pregnancy"
                id="pregnancy" name="pregnancy">
                <option value='маткова вагітність тижнів'>яйце</option>
                <option value='замерша маткова вагітність в терміні тижнів'>ваг. -</option>
                <option value='однояйцева маткова вагітність терміном тижнів'>1-яйц.</option>
                <option value='двояйцева маткова вагітність терміном тижнів'>2-яйц.</option>
                <option value='наявність плідного яйця в'>трубн. ваг.</option>
            </select>
        </div>

        <div class="form-group row col-md-4">
            <label for="dovmt" class="col-md-4 offset-md-1">ДО в м/т:</label>
            <select class="form-control col-md-7" (change)="onSelectChange($event);" [(ngModel)]="templateData.dovmt"
                id="dovmt" name="dovmt">
                <option value='наявність обємних утворень в малому тазу'>+</option>
                <option value='наявність варікозно розширених вен в малому тазу'>вени</option>
            </select>
        </div>
    </div>
    <div class="row">
        <label for="conclusion" class="col-md-2">?:</label>
        <textarea rows="2" class="form-control col-md-10" id="conclusion" [(ngModel)]="templateData.conclusion" name="conclusion"></textarea>
    </div>

    <button class="btn btn-primary" (click)="getTemplate()">Зберегти</button>

</form>